*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: #975959;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: #907163;
    color: #fff;
    position: fixed;
}

.main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;

}

.speed {
    width: 30vw;
    min-width: 400px;
    min-height: 10vh;
    background-color: #ce7b7b;
    padding: 10px;

    text-align: center;
}
.distance {
    width: 30vw;
    min-width: 400px;
    min-height: 10vh;
    background-color: #ce7b7b;
    padding: 10px;

    text-align: center;

}
.what-to-do {
    width: 30vw;
    min-width: 400px;
    min-height: 10vh;
    background-color: #ce7b7b;
    padding: 10px;
    font-size: 40px;
}

.info {
    font-size: 35px;
    font-weight: normal;
    text-align: center;
}

.what-to-do {
    text-align: center;
    padding-block: 35px;
}

input{
    text-align: center;
    padding: 10px;
    font-size: 25px;
    background-color: #ff9a9a;
}

.checkInfo{
    font-size: 35px;
    padding: 20px;
    background-color: rgb(112, 30, 30);
    color: #fff;
}

.checkInfo:active{
    background-color: #fff;
    color: black;
}